<footer class="bg-pattern">
	<div class="container content-container ">
		<div class="col-md-8 hidden-xs">
			<p class="footer-paragraph">
				Awesome people doing awesome things. Discover articles on young professionals discovering our world. Destinations and opions from all over. Sing up today and start creating your posts. Login is just as simple.
			</p>
		</div>
		<div class="col-md-4 hidden-xs">
			<ul class="footer-list">
				<li><a href="#">Home Page</li>
				<li><a href="#">Sign Up</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Contact Us</li>
			</ul>
		</div>

		<div class="mobile-nav visible-xs">
			<div class="container">
				<div class="col-sm-12">
					<ul>
						<li><a href="#">Home Page</li>
						<li><a href="#">Sign Up</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Contact Us</li>
					</ul>
				</div>
			</div>
		</div>


	</div>
</footer>
