<footer class="bg-pattern">
	<div class="container-fluid content-container">
		<div class="col-md-7 col-md-offset-1 hidden-xs-sm ">
			<p class="footer-paragraph">
				Pop-up try-hard kickstarter lumbersexual. Put a bird on it master cleanse mumblecore wolf distillery readymade. Truffaut scenester craft beer, raw denim artisan fap try-hard lumbersexual. Health goth street art umami, selfies godard cray pug lo-fi VHS brooklyn actually flexitarian polaroid kale chips. Williamsburg skateboard messenger bag art party. Intelligentsia lumbersexual polaroid aesthetic kombucha pour-over. Meditation letterpress freegan, PBR&B retro put a bird on it offal brooklyn taxidermy art party butcher selvage typewriter you probably haven't heard of them.
			</p>
		</div>
		<div class="col-md-4">
			<ul class="footer-list">
				<li><a href="#">Home Page</li>
				<li><a href="#">Sign Up</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Contact Us</li>
			</ul>
		</div>
	</div>
</footer>