<footer class="bg-pattern">
	<div class="container-fluid">
		<div class="col-md-8 hidden-xs-sm ">
			<p>
				PBR&B art party sartorial blue bottle flannel jean shorts, 90's meggings yuccie. Portland keffiyeh gastropub neutra distillery keytar. Salvia helvetica actually, kogi literally polaroid cliche.
			</p>
		</div>
		<div class="col-md-4">
			<ul class="footer-list">
				<li>Home Page</li>
				<li>Sign Up</li>
				<li>Login</li>
				<li>Contact Us</li>
			</ul>
		</div>
	</div>
</footer>