@import "bootstrap";
@import "partials/variables";

// footer
footer {
	height: 350px;
	background-color: $blue-footer;
	color: $white;
	font-family: $avenir-light;
	font-size: $font-size-large;

	.content-container {

		padding-top: 100px;

		.footer-list{
			list-style-type: none;
			padding-top: 23px;
    		padding-left: 147px;
			color: $white;
		}

		.footer-paragraph {
			
		}

	}
	

}

.bg-pattern {
		background-image: url('footer-bg-pattern.png');
		background-size: cover;
		background-repeat: no-repeat;
	}