
@import "bootstrap";
@import "partials/variables";


// Navigation bar


.custom-navbar {
  margin-bottom: 0;
  background: transparent !important;
  border-color: transparent !important;
  padding: 25px 80px;
  position: absolute;
  width: 100%;

  ul {

    @media screen and (max-width: $screen-sm) {
      margin-top: 200px;

    }


    li {
      padding: 0 20px;
      color: $white;

      @media screen and (max-width: $screen-sm) {
        text-align: center;

      }

      a {
        font-family: $avenir-light;
        font-size: $font-size-large;
        color: $white !important;
        outline: none;


        &:hover {
          color: #9d9d9d !important;
        }


      }
      .signup-btn {
        padding: 15px 45px;
        color: $white;
        transition: all 0.5s ease;
        background-color: rgba(0,0,0,0.0);

        &:hover {
          background: $white;
          color: $blue-footer !important;
        }
      }
    }
  }

  .navbar-collapse {
    border-color: rgba(0,0,0,0.0) !important;
  }

  .navbar-header {

    a {
      outline: none;
      img {
        width: 80px;
      }
    }

    .navbar-toggle {
      border-color: $white;
      margin-right: -8%;
      margin-top: 20px;
      transition: all 0.5s ease;

      &:hover {
        background-color: #9d9d9d;
      }
    }
  }
}

// Member navbar
.member-navbar {
  box-shadow: 0 3px 3px rgba(0,0,0,0.3);
  background: #fff;
  min-height: 8.1em;
  margin-bottom: 0;

  ul {
    padding-top: 25px;
    padding-right: 50px;

    li {
      padding: 0 20px;

      a {
          font-size: 1.5em;
          font-family: $avenir-light;
          color: #333447;

          &:hover {
            background-color: transparent;
          }

      }
      .logout-btn {
        border: 0.08333rem solid #333447;
        padding: 15px 40px;
        border-radius: 0.55rem;
        font-family: $avenir-light;
        color: #333447;
        transition: all 0.5s ease;
        float: right;

        &:hover {
          background: #333447;
          color: $white;
        }

      }

    }
  }

  a {
    .logo2 {
      width: 100px;
      margin-left: 30px;
    }
  }
}

// Hero section
.hero-bg {
  height: 600px;
  background-image: url('hero-img.png');
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: -1;


  .overlay {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(44, 62, 80, 0.5);
    z-index: -1;

  }
  h1 {
    padding-top: 100px;
  }
  p {

    @media screen and (max-width: $screen-sm) {
        padding: 0 75px;

    }
  }
  .title {
    color: $white;
    z-index: 2;
    font-family: $avenir-light;
  }
  .cta_buttons {
     padding: 10px 0;

     ul {
       padding-top: 25px;
       padding-right: 50px;

       li {
         padding: 0 20px;

         a {
             font-size: 1.5em;
             font-family: $avenir-light;
             color: #333447;

             &:hover {
               background-color: transparent;
             }

         }
         .logout-btn {
           border: 0.08333rem solid #333447;
           padding: 15px 40px;
           border-radius: 0.55rem;
           font-family: $avenir-light;
           color: #333447;
           transition: all 0.5s ease;

           &:hover {
             background: #333447;
             color: $white;
           }

         }

       }
     }
  }
}

// City Page
.city-bg {
    height: 400px;
    // background-image: url('http://d6jhp3hr7lf1v.cloudfront.net/wp-content/uploads/sites/106/2014/08/ss-21-denver-at-night-LUX.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: -1;

    .overlay {
      position: absolute;
      margin: 0;
      padding: 0;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(44, 62, 80, 0.7);
      z-index: -1;

    }
    h1 {
      padding-top: 100px;
    }
    p {

      @media screen and (max-width: $screen-sm) {
          padding: 0 75px;

      }
    }
    .title {
      color: $white;
      z-index: 2;
      font-family: $avenir-heavy;
    }
}

.city-show {

    h2 {
      font-family: $avenir-light;
      font-size: 4em;
      color: $blue-footer;
    }
    hr {
          border-top: 1px solid $blue-footer;
          margin-right: 100px;
          opacity: 0.3;
    }
    h3 {
      font-family: $avenir-heavy;
      color: $blue-footer;
      background-color: rgba(255,230,131, 0.5);
      margin: 0 0 10px;
      padding: 5px 20px 5px 5px;
      width: 50%;

      @media screen and (max-width: $screen-sm) {
        width: 100%;
      }

      a {
        font-family: $avenir-heavy;
        font-size: 1.2em;
        color: $blue-footer;

      }
    }
    p {
      font-family: $avenir-book;
      font-size: 1.2em;
      color: $blue-footer;
    }
    .post_timestamp {
      font-family: $avenir-light;
      font-size: 1em;
      color: $blue-footer;
    }
    .action_btn_container {
      margin: 0;
      padding: 0;

      .action_buttons {

        .col-md-6 {
          margin: 0;
          padding: 5px 0 30px;

          .show_action_btn {
            border: 0.08333rem solid #333447;
            background: transparent;
            padding: 15px 40px;
            border-radius: 0.55rem;
            margin-right: 10px;
            font-family: "Avenir LT W01_35 Light1475496", sans-serif;
            color: #333447;
            transition: all 0.5s ease;
            display: inline-block;

            &:hover {
              background: #333447;
              color: #fff;

            }
          }
        }
      }

    }
    .add_post_btn {
      border: 0.08333rem solid #333447;
      font-size: 1.5em;
      background: transparent;
      padding: 15px 40px;
      border-radius: 0.55rem;
      font-family: "Avenir LT W01_35 Light1475496", sans-serif;
      color: #333447;
      transition: all 0.5s ease;

      &:hover {
        background: #333447;
        color: #fff;

      }
    }
}

// Fullscreen Modal
.modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}
.modal-content {
    height: 100%;
    min-height: 100%;
    height: auto;
    border-radius: 0;
    background-color: rgba(39,42,44, 0.9);

    .modal-header {
        border-bottom: transparent !important;

        .close {
          color: #fff;
          font-size: 70px !important;
          padding-top: 30px;
          padding-bottom: 60px;
        }
    }

    .modal-body {

      .login-header {
        padding: 15px;
        border-bottom: 1px solid #505558;

        .login-title {
          font-family: $avenir-light;
          font-size: 4rem;
          color: $white;
        }
      }

      .login-box {

        form {

          .user-username {
              padding: 30px 0 0 0;

              label {
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 1.5rem;
                color: #42494C;
                font-family: $avenir-light;
                padding: 10px 0;
              }
              input {
                font-family: $avenir-light;
                background-color: transparent;
                border: 1px solid #505558;
                border-radius: 4px;
                height: 54px;
                font-size: 22px;
                font-size: 2.2rem;
                color: $white;
                padding: 10px 20px;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
              }
          }
          .user-password {
              padding: 30px 0 0 0;
              label {
                display: inline-block;
                max-width: 100%;
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 1.5rem;
                color: #42494C;
                font-family: $avenir-light;
                padding: 10px 0;
              }
              input {
                font-family: $avenir-light;
                background-color: transparent;
                border: 1px solid #505558;
                border-radius: 4px;
                height: 54px;
                font-size: 2.2rem;
                color: $white;
                padding: 10px 20px;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
              }
              textarea {
                font-family: $avenir-light;
                background-color: transparent;
                border: 1px solid #505558;
                border-radius: 4px;
                height: 150px;
                font-size: 2.2rem;
                color: $white;
                padding: 10px 20px;
                -webkit-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out;
              }
          }
          .user-buttons {
                margin-top: 30px !important;

                .btn-login-submit {
                  font-family: $avenir-light;
                  background: #6ABD97;
                  color: $white;
                  font-size: 1.6rem;
                  padding: 2.5% 19.5%;
                  width: 48%;
                  margin-bottom: 30px;
                  float: left;
                  display: inline;
                  margin-right: 20px;
                }
                .btn-login-action{
                  font-family: $avenir-light;
                  font-size: 14px;
                  background: transparent;
                  border: 1px solid #505558;
                  color: #42494C;
                  font-size: 1.6rem;
                  padding: 2.5% 19.5%;
                  width: 48%;
                  display: inline;
                  -webkit-transition: all 0.3s ease-out;
                  transition: all 0.3s ease-out;

                }
          }
        }
      }
    }
}



// Footer - Layout


// footer
footer {

	background-color: $blue-footer;

	.content-container {
		padding: 50px;

    @media screen and (max-width: $screen-sm) {
      padding: 30px 5px 20px;
    }
		.footer-list{
			list-style-type: none;
    	padding-left: 147px;
			color: $white;

			li {
				a {
					font-family: $avenir-book;
					font-size: $font-size-large;
					color: $white;
				}
			}
		}

		.footer-paragraph {
      font-family: $avenir-light;
      color: $white;
      font-size: 1.2em;
		}
	}
  .mobile-nav {

    ul {
      list-style-type: none;

      li {
       display: inline;
       padding: 0 10px;

        a {
          color: $white;
          font-family: $avenir-light;
          font-size: 1.6em;
          text-align: left;
        }
      }
    }
  }
}

.bg-pattern {
		background-image: url('footer-bg-pattern.png');
		background-size: cover;
		background-repeat: no-repeat;
	}

.sidebar_container {
  margin: 0;
  padding: 0;

  // Profile
  .sidebar {
    width: 450px;
    height:100%;
    min-height: 100%;
    min-height:100%;
    background-color: #E94E77;
    color: $white;

    @media screen and (max-width: $screen-sm) {
      width: 100%;
    }

    .profile_img_container {
      height: 440px;
      overflow: hidden;
      position: relative;

      .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: rgba(44,62,80,0.4);
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .profile_info {
      padding: 20px;

      h2 {
        font-family: $avenir-light;
        font-size: 1.8em;
        color: #e1eff1;
        padding-bottom: 20px;
      }
      p {
        font-family: $avenir-light;
        font-size: 1.2em;
        color: #e1eff1;
      }
      .edit-btn {
        border: 0.08333rem solid $white;
        background: transparent;
        font-size: 1.5em;
        padding: 15px 40px;
        border-radius: 0.55rem;
        font-family: $avenir-light;
        color: $white;
        transition: all 0.5s ease;

        &:hover {
          background: $white;
          color: #333447;
        }
      }
    }
    .profile_info2 {
      padding: 20px;

      h2 {
        font-family: $avenir-light;
        font-size: 1.8em;
        color: #e1eff1;
        padding-bottom: 20px;
      }
      p {
        font-family: $avenir-light;
        font-size: 1.2em;
        color: #e1eff1;
      }
      .edit-btn {
        border: 0.08333rem solid $white;
        background: transparent;
        font-size: 1.5em;
        padding: 15px 40px;
        border-radius: 0.55rem;
        font-family: $avenir-light;
        color: $white;
        transition: all 0.5s ease;

        &:hover {
          background: $white;
          color: #333447;
        }
      }
    }
    .mobile_info {
      height: 200px;

      .edit-btn {
          margin-top: 40px;
      }
    }
  }

}

.post_container {
  background: #e1eff1;

  .post_content {
    padding-top: 50px;

    .add_post_btn {
      border: 0.08333rem solid #333447;
      font-size: 1.5em;
      background: transparent;
      padding: 15px 40px;
      border-radius: 0.55rem;
      font-family: "Avenir LT W01_35 Light1475496", sans-serif;
      color: #333447;
      transition: all 0.5s ease;

      &:hover {
        background: #333447;
        color: #fff;

      }
    }

    h2 {
      font-family: $avenir-light;
      font-size: 4em;
      color: $blue-footer;
    }
    hr {
          border-top: 1px solid $blue-footer;
          margin-right: 100px;
          opacity: 0.3;
    }
    .posts_container {
      height: 100vh;
      .post_timestamp {
        font-family: $avenir-light;
        font-size: 1em;
        color: $blue-footer;
      }
      h3 {
        font-family: $avenir-heavy;
        color: $blue-footer;
        background-color: rgba(255,230,131, 0.5);
        margin: 0 0 10px;
        padding: 5px 20px 5px 5px;
        width: 50%;

        @media screen and (max-width: $screen-sm) {
          width: 100%;
        }

        a {
          font-family: $avenir-heavy;
          font-size: 1.2em;
          color: $blue-footer;

        }
      }
      p {
        font-family: $avenir-book;
        font-size: 1.2em;
        color: $blue-footer;
      }
      .action_btn_container {
        margin: 0;
        padding: 0;

        .action_buttons {

          .col-md-6 {
            margin: 0;
            padding: 5px 0 30px;

            .show_action_btn {
              border: 0.08333rem solid #333447;
              background: transparent;
              padding: 15px 40px;
              border-radius: 0.55rem;
              margin-right: 10px;
              font-family: "Avenir LT W01_35 Light1475496", sans-serif;
              color: #333447;
              transition: all 0.5s ease;
              display: inline-block;

              &:hover {
                background: #333447;
                color: #fff;

              }
            }
          }
        }

      }
    }
  }
}

.alert-warning {
  h3 {
    display: inline-block;
    padding-left: 25px;
  }
  .close {
    padding-right: 50px;
    font-size: 3em;
  }
}

.sign_up_section {
  padding-bottom: 50px;



  @media screen and (max-width: $screen-sm) {
    padding: 30px 20px;
  }

  h2 {
    font-family: $avenir-light;
    font-size: 2.5em;
    color: $blue-footer;
    padding-top: 20px;
  }
  h3 {
    font-family: $avenir-light;
    font-size: 1.8em;
    color: $blue-footer;
    padding-top: 20px;

    @media screen and (max-width: $screen-sm) {
      text-align: center;
    }
  }
  hr {
        border-top: 1px solid $blue-footer;
        margin-right: 100px;
        opacity: 0.3;

        @media screen and (max-width: $screen-sm) {
          margin: 0 auto;
        }
  }
  .alert-warning {
        width: 650px;

        @media screen and (max-width: $screen-sm) {
          width: 400px;
          margin: 0 auto;
        }

    p {
      font-family: $avenir-light;
      font-size: 1.2em;
      color: $blue-footer;
      display: inline-block;

    }
    .close {
      padding-right: 15px;
      font-size: 2em;
      margin-top: -4px;
    }
  }
  .form-group {
      margin: 0;
      padding: 0;

    input {
      width: 650px;
      padding: 25px 15px;
      border: 1px solid #cfd9db;
      background-color: #ffffff;
      border-radius: .25em;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
      margin: 10px 0;
      font-family: $avenir-light;
      font-size: 1.5em;

      @media screen and (max-width: $screen-sm) {
        width: 400px;
        margin: 20px auto;
      }
    }
  }
  .form-button {
      padding-top: 10px;
      margin-bottom: 20px;



      .form-button {
        border: 0.08333rem solid #333447;
        background: transparent;
        padding: 15px 40px;
        border-radius: 0.55rem;
        margin-right: 10px;
        font-family: "Avenir LT W01_35 Light1475496", sans-serif;
        color: #333447;
        transition: all 0.5s ease;

        @media screen and (max-width: $screen-sm) {
              margin-left: 175px;
        }

        &:hover {
          background: #333447;
          color: #fff;

        }
      }
    }

    .already_button {
      margin-top: 20px;
      border: 0.08333rem solid #333447;
      background: transparent;
      padding: 15px 40px;
      border-radius: 0.55rem;
      margin-right: 10px;
      font-family: "Avenir LT W01_35 Light1475496", sans-serif;
      color: #333447;
      transition: all 0.5s ease;

      @media screen and (max-width: $screen-sm) {
            margin-left: 175px;
      }

      &:hover {
        background: #333447;
        color: #fff;

      }
    }
}
.post2_container {
    padding: 50px 0;
    background: $white;

    h2 {
      font-family: $avenir-light;
      font-size: 4em;
      color: $blue-footer;
    }
    hr {
          border-top: 1px solid $blue-footer;
          margin-right: 100px;
          opacity: 0.3;
    }

  .post_timestamp {
    font-family: $avenir-light;
    font-size: 1em;
    color: $blue-footer;
  }
  h3 {
    font-family: $avenir-heavy;
    color: $blue-footer;
    background-color: rgba(255,230,131, 0.5);
    margin: 0 0 10px;
    padding: 5px 20px 5px 5px;
    width: 50%;

    @media screen and (max-width: $screen-sm) {
      width: 100%;
    }

    a {
      font-family: $avenir-heavy;
      font-size: 1.2em;
      color: $blue-footer;

    }
  }
  p {
    font-family: $avenir-light;
    font-size: 1.8em;
    line-height: 2em;
    color: $blue-footer;
    text-align: justify;
  }
  .author_title {
      font-family: $avenir-light;
      font-style: italic;
      font-size: 1.2em;
      color: $blue-footer;
      text-align: justify;
      padding-top: 10px;
      padding-bottom: 20px;
      text-transform: capitalize;
  }
}
.edit_post_container {
    padding-bottom: 50px;



    @media screen and (max-width: $screen-sm) {
      padding: 30px 20px;
    }

    h2 {
      font-family: $avenir-light;
      font-size: 2.5em;
      color: $blue-footer;
      padding-top: 20px;
    }
    h3 {
      font-family: $avenir-light;
      font-size: 1.8em;
      color: $blue-footer;
      padding-top: 20px;

      @media screen and (max-width: $screen-sm) {
        text-align: center;
      }
    }
    hr {
          border-top: 1px solid $blue-footer;
          margin-right: 100px;
          opacity: 0.3;

          @media screen and (max-width: $screen-sm) {
            margin: 0 auto;
          }
    }
    .alert-warning {
          width: 650px;

          @media screen and (max-width: $screen-sm) {
            width: 400px;
            margin: 0 auto;
          }

      p {
        font-family: $avenir-light;
        font-size: 1.2em;
        color: $blue-footer;
        display: inline-block;

      }
      .close {
        padding-right: 15px;
        font-size: 2em;
        margin-top: -4px;
      }
    }
    .form-group {
        margin: 0;
        padding: 0;

      input {
        width: 650px;
        padding: 25px 15px;
        border: 1px solid #cfd9db;
        background-color: #ffffff;
        border-radius: .25em;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
        margin: 10px 0;
        font-family: $avenir-light;
        font-size: 1.5em;

        @media screen and (max-width: $screen-sm) {
          width: 400px;
          margin: 20px auto;
        }
      }
      textarea {
        width: 650px;
        padding: 25px 15px;
        border: 1px solid #cfd9db;
        background-color: #ffffff;
        border-radius: .25em;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
        margin: 10px 0;
        font-family: $avenir-light;
        font-size: 1.5em;

        @media screen and (max-width: $screen-sm) {
          width: 400px;
          margin: 20px auto;
        }
      }
    }
    .form-button {
        padding-top: 10px;
        margin-bottom: 20px;



        .form-button {
          border: 0.08333rem solid #333447;
          background: transparent;
          padding: 15px 40px;
          border-radius: 0.55rem;
          margin-right: 10px;
          font-family: "Avenir LT W01_35 Light1475496", sans-serif;
          color: #333447;
          transition: all 0.5s ease;

          @media screen and (max-width: $screen-sm) {
                margin-left: 175px;
          }

          &:hover {
            background: #333447;
            color: #fff;

          }
        }
      }
}
.edit_user_container {
    padding-bottom: 50px;



    @media screen and (max-width: $screen-sm) {
      padding: 30px 20px;
    }

    h2 {
      font-family: $avenir-light;
      font-size: 2.5em;
      color: $blue-footer;
      padding-top: 20px;
    }
    h3 {
      font-family: $avenir-light;
      font-size: 1.8em;
      color: $blue-footer;
      padding-top: 20px;

      @media screen and (max-width: $screen-sm) {
        text-align: center;
      }
    }
    hr {
          border-top: 1px solid $blue-footer;
          margin-right: 100px;
          opacity: 0.3;

          @media screen and (max-width: $screen-sm) {
            margin: 0 auto;
          }
    }
    .alert-warning {
          width: 650px;

          @media screen and (max-width: $screen-sm) {
            width: 400px;
            margin: 0 auto;
          }

      p {
        font-family: $avenir-light;
        font-size: 1.2em;
        color: $blue-footer;
        display: inline-block;

        @media screen and (max-width: $screen-sm) {
             font-size: 1em;
        }

      }
      .close {
        padding-right: 15px;
        font-size: 2em;
        margin-top: -4px;
      }
    }
    .form-group {
        margin: 0;
        padding: 0;

      label {
          display: block;
          margin: 15px 0;
          font-family: $avenir-book;
          font-size: 1em;
          color: $blue-footer;
      }

      input {
        width: 650px;
        padding: 25px 15px;
        border: 1px solid #cfd9db;
        background-color: #ffffff;
        border-radius: .25em;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.08);
        margin: 10px 0;
        font-family: $avenir-light;
        font-size: 1.5em;

        @media screen and (max-width: $screen-sm) {
          width: 400px;
          margin: 20px auto;
        }
      }
    }
    .profile_img {
        border-radius: 150px;
    }
    .mobile_profile_img {
        width: 200px;
        margin: 10px auto;
    }
    .profile_url {

        margin: 30px auto ;

    }
    .form-button {
        padding-top: 10px;
        margin-bottom: 20px;



        .form-button {
          border: 0.08333rem solid #333447;
          background: transparent;
          padding: 15px 40px;
          border-radius: 0.55rem;
          margin-right: 10px;
          font-family: "Avenir LT W01_35 Light1475496", sans-serif;
          color: #333447;
          transition: all 0.5s ease;

          @media screen and (max-width: $screen-sm) {
                margin-left: 175px;
          }

          &:hover {
            background: #333447;
            color: #fff;

          }
        }
      }
}

.city-block {
  text-align: center;
  font-family: "Avenir LT W01_35 Light1475496", sans-serif;
}

.other-link {
  text-decoration: none;
  color: black;
}

.img-block {
  height: 300px;
  width: 300px;
}

.city-img:hover {
  background-color: #333447;
}
