// colors
$white: #fff;
$blue-overlay: #D8D8D8;
$blue-footer: #2C3E50;

// fonts
$avenir-light:'Avenir LT W01_35 Light1475496', sans-serif;
$avenir-book:'Avenir LT W01_45 Book1475508', sans-serif;
$avenir-medium:'Avenir LT W01_65 Medium1475532', sans-serif;
$avenir-heavy:'Avenir LT W01_85 Heavy1475544', sans-serif;
$avenir-black:'Avenir LT W01_95 Black1475556', sans-serif;
