<h1>New Post</h1>

<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Title" %>
  </div><br>
  <div>
    <%= f.text_area :description, placeholder: "Description" %>
  </div>
  <%= f.submit %>
<% end %>
<br>