
<div class="container">
	<div class="row">
		<% @cities.each do |city| %>
		        <div class="col-md-4 city-block">
					<h3><%= link_to "#{city.name}", city_path(city), :method => :get, :class => "other-link" %></h3>
					<a href = "cities/<%=city.id%>">
					<div>
					<img style="height: 300px; width: 300px;" src="<%= city.photo %>">
					</div>
					</a>
				</div>
		<%end%>
	</div>
</div>






