// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
	text-align: center;
	
	.icon {
		postion: relative;
		height: 200px;
		margin: -20px -50px;
		width: 100px;
		top: 50%;
		left: 50%;
	}
}

form {
	text-align: center;
}